body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
   
}


/* Header */

.header {
display: flex;
justify-content: space-around;
background-color: #1F2937;
padding-bottom: 60px;
}

.logo, .links {
    margin-top: 20px;
    padding-bottom: 60px;
}

.logo {
font-size: 24px;
color: #f9faf8;
}

.main-text {
    font-size: 25px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 5px;
}

.small-text {
    font-size: 17px;
    font-weight: 100;
    color: #f9faf8;
   margin-bottom: 10px;
}

a {
font-size: 18px;
color: #306930;
text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
  margin-left: 15px;
}

.buttons button {
    border-color: #3882f6;
    border-radius: 8px;
    border-width: 2.4px;
    color: white;
    background: #3882f6;
    padding: 8px 25px;
    font-weight: bolder;
  }

  .h2 {
    display: flex;
    max-width: 350px;
    flex-direction: column;
  }

  .oj {
    max-width: 300px;
    max-height: 300px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  
  
  
  /* Mid */


.mid {
padding: 16px;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.mid-header {
font-size: 36px;
font-weight: 900;
color: #1F2937 ;
margin-top: 30px;
}

.mid-container-1 {
display: flex;
gap: 20px;
margin-top: 30px;
}

.mid-box-img {
  display: flex;
  flex-direction: column;
}

.mc-b1, .mc-b2, .mc-b3, .mc-b4 {
  border: 1px solid #099915;
  border-radius: 10px;
  border-width: 3px;
  padding: 3px;
  width: 300px;
  height: 350px;
  margin: 20px;
  background-color: #099915;
}

.mc-box {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 160px;
  margin-bottom: 100px;
  padding: 65px;
}



/*middle bottom */

.middle-bottom {
  background-color: #E5E7EB;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 400px;
padding-left: 400px;
}

.quote {
text-align: center;
font-size: 36px;
font-style: italic;
color: #1F2937;

}

.p-name {
text-align: right;
font-size: 20px;
font-weight: bold;
}



/* bottom */

.text-box {
margin-top: 100px;
margin-bottom: 100px;
margin-left: 200px;
margin-right: 200px;
}

.text-box {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    padding: 50px 25px;
  }

.text-box {
  display: flex;
  justify-content: space-around;

}

  .buttonz button {
    border-color: #ffffff;
    border-width: 2.4px;
    border-radius: 8px;
    color: white;
    background: #3882f6;
    padding: 8px 25px;
    font-weight: bolder;
    display: block;
  }

  .b-text1, .b-text2 {
color: rgb(255, 255, 255);
  }

  .b-text1 {
    font-size: 20px;
font-weight: bolder;
  }


  /*Footer*/

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 17px;
    color: #ffffff;
    padding: 40px;
    margin-top: 30px;

  }





  /*cool page effects*/


  .mc-b1, .mc-b2, .mc-b3, .mc-b4, .oj, .buttons, .buttonz{
    display: flex;
    transition: transform .2s;
  }

  .oj:hover {
    transform: scale(1.2);
  }

  .mc-b1:hover {
    transform: scale(1.1);
    background-color: #1a7a1a;
    border-color: #1a7a1a;
  }

  .mc-b2:hover {
    transform: scale(1.1);
    background-color: #1a7a1a;
    border-color: #1a7a1a;
  }

  .mc-b3:hover {
    transform: scale(1.1);
    background-color: #1a7a1a;
    border-color: #1a7a1a;
  
  } .mc-b4:hover {
    transform: scale(1.1);
    background-color: #1a7a1a;
    border-color: #1a7a1a;
  }


  li {
    transition: transform .2s; /* Animation */
  }
  
  li:hover {
    transform: scale(1.15);
  }
  a:hover {
     color: #1ba02d;
  }

  .buttons button:hover {
    transform: scale(1.01);
   

  }

  .buttonz button:hover {
    transform: scale(1.01);
    
  }
  